<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de Pagamento - PagueVeloz</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <h1>PagueVeloz</h1>
    </header>
    <nav class="menu">
        <ul class="menu-list">
            <li class="dropdown">
                <a href="#" class="dropbtn">Funcionário</a>
                <div class="dropdown-content">
                    <button id="createF" onclick="createF()">Criar Funcionario</button>
                    <button onclick="exibirF()">Exibir Funcionário</button>
                    <button onclick="editarF()">Editar Funcionário</button>
                    <button onclick="desativarF()">Desativar Funcionário</button>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Dependente</a>
                <div class="dropdown-content">
                    <button onclick="createD()">Criar Dependente</button>
                    <button onclick="exibirD()">Exibir Dependente</button>
                    <button onclick="editarD()">Editar Dependente</button>
                    <button onclick="desativarD()">Desativar Dependente</button>
                </div>
            </li>
            
            
            
            
            <li><button>Exibir Folha</button></li>
        </ul>
    </nav>

    <div class="container" id="criarFuncionarioId">
        <h2>Criar Funcionario</h2>
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>

        <label for="rg">RG:</label><br>
        <input type="text" id="rg" name="rg"><br>

        <label for="cpfFuncionario">CPF:</label><br>
        <input type="text" id="cpfFuncionario" name="cpf"><br>

        <label for="cargo">Cargo:</label><br>
        <select id="cargo" name="cargo">
            <option value="CEO">CEO</option>
            <option value="PRESIDENTE">Presidente</option>
            <option value="DIRETOR">Diretor</option>
            <option value="GERENTE">Gerente</option>
            <option value="SUPERVISOR">Supervisor</option>
            <option value="COORDENADOR">Coordenador</option>
            <option value="ANALISTA">Analista</option>
            <option value="ASSISTENTE">Assistente</option>
            <option value="AUXILIAR">Auxiliar</option>
            <option value="ESPECIALISTA">Especialista</option>
            <option value="CONSULTOR">Consultor</option>
            <option value="ESTAGIARIO">Estagiário</option>
        </select><br>

        <label for="funcao">Função:</label><br>
        <input type="text" id="funcao" name="funcao"><br>

        <label>Periodo:</label><br>
        <div class="radio-container">
            <input type="radio" id="matutino" name="typePeriodo" value="MATUTINO">
            <label for="matutino">Matutino</label>
        </div>
        <div class="radio-container">
            <input type="radio" id="noturno" name="typePeriodo" value="NOTURNO">
            <label for="noturno">Noturno</label><br>
        </div>

        <label>Sexo:</label><br>
        <div class="radio-container">
            <input type="radio" id="masculino" name="typeSexo" value="MASCULINO">
            <label for="masculino">Masculino</label>
        </div>
        <div class="radio-container">
            <input type="radio" id="feminino" name="typeSexo" value="FEMININO">
            <label for="feminino">Feminino</label><br>
        </div>

        <label for="dataAniversarioF" id="dataF">Data de Aniversário:</label><br>
        <input type="date" id="dataAniversarioF" name="dataAniversario"><br>

        <label for="categoriaAss">Assegurado:</label>
        <select id="categoriaAss" name="cargo">
            <option value="SEGURADO_EMPREGADO">Segurado Empregado</option>
            <option value="TRABALHADOR_AVULSO">Trabalhador Avulso</option>
            <option value="EMPREGADO_CONTRATADO">Empregado Contratado</option>
            <option value="CONTRIBUENTE_INDIVIDUAL">Contribuente Individual</option>
        </select><br>

        <h3>Endereço</h3>

        <label for="rua">Rua:</label>
        <input type="text" name="rua" id="rua">

        <label for="numero">Numero:</label>
        <input type="text" name="numero" id="numero">

        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" id="bairro">

        <label for="cidade">Cidade:</label>
        <input type="text" name="cidade" id="cidade">

        <label for="cep">CEP:</label>
        <input type="text" name="cep" id="cep">

        <div id="criarF">
            <input type="button" value="Criar" id="buttonCriarF" onclick="criarFuncionario()">
        </div>
    </div>

    <div class="container" id="criarDependenteId">
        <h2>Criar Dependente</h2>
        <form action="#">
            <label for="cpfResponsavel">CPF do Responsável:</label><br>
            <input type="text" id="cpfResponsavel" name="cpfResponsavel"><br>

            <label for="nomeDependente">Nome do Dependente:</label><br>
            <input type="text" id="nomeDependente" name="nomeDependente"><br>

            <label for="cpfDependente">CPF do Dependente:</label><br>
            <input type="text" id="cpfDependente" name="cpf"><br>

            <label for="grauDeParentesco">Grau de Parentesco:</label><br>
            <input type="text" id="grauDeParentesco" name="grauDeParentesco"><br>

            <label for="dataAniversarioD" id="dataD">Data de Aniversário:</label><br>
            <input type="date" id="dataAniversarioD" name="dataAniversario"><br>

            <div id="criarD">
                <input type="button" value="Criar" id="buttonCriarD" onclick="criarDependente()">
            </div>
        </form>
    </div>

    <div class="container" id="exibirFuncionarioId">
        <h2>Exibir Funcionário</h2>
        <label for="exibirFuncionarioId">Funcionario:</label>
        <select name="exibirFuncionario" id="iExibirFuncionario">

        </select>

        <input type="button" value="Encontrar Funcionário" id="buttonExibirF" onclick="encontrarFuncionario()">

        <p id="exibir"></p>
    </div>

    <script src="../static/js/script.js"></script>
    
</body>
</html>